<header>
    <h1>Nathan Pell</h1>
    <nav>
        <a href="./">Homepage</a>
        ||
        <a href="https://webpages.charlotte.edu/jpell1/itis3135/introduction.html">Introduction</a>
        ||
        <a href="https://webpages.charlotte.edu/jpell1/itis3135/contract.html">Contract</a>
        ||
        <a href="https://webpages.charlotte.edu/jpell1/itis3135/website_evaluations.html">Website Evaluations</a>
        ||
        <a href="/">back to main site</a>
    </nav> 
    <nav>
        <a href="https://webpages.charlotte.edu/jpell1/itis3135/pellventuresincorporated.com/">Pell Ventures Inc</a>
        ||
        <a href="https://webpages.charlotte.edu/jpell1/itis3135/stuff/*The%20FunnY.htm">CRAPPY WEBpg</a>
    </nav>   
</header>